.header-profile-user {
    width: 30px;
    height: 30px;
}
.fs11 {
    font-size: 11px;
}
.fs12 {
    font-size: 12px;
}
.fs13 {
    font-size: 13px;
}
.fs14 {
    font-size: 14px;
}
.fs15 {
    font-size: 15px;
}
.fs16 {
    font-size: 16px;
}
.login-btn{
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
    padding: 5px 20px 5px 20px;
}
.register-btn{
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
    padding: 5px 20px 5px 20px;
}
.create-btn{
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}
.edit-btn:hover{
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}
.delete-btn:hover{
    background-color: #fd0d1d;
    color: #fff;
    border-color: #fd0d1d;
}
.add-more-btn{
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}
.delete-todo-btn{
    background-color: #fd0d1d;
    color: #fff;
    border-color: #fd0d1d;
}
input::placeholder{
    color: #d0cbcb !important;
}
@media (max-width: 768px) {
    .dropdown-menu[data-bs-popper] {
        position: absolute;
        top: 100%;
        right: 0 !important;
        left: unset;
        margin-top: var(--bs-dropdown-spacer);
    }
    .cflex{
        flex-wrap: wrap !important;
    }
    .hero-wrapper{
        margin-top: 20px;
    }
    .bg-wrapper-cflex{
        margin-top: 20px;
    }
    .create-btn{
        padding: 5px 15px 5px 15px;
    }
}
.cflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.bg-wrapper-cflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.bg-wrapper{
    width: 500px;
    height: 500px;
}
.bg-wrapper img{
    width: 100%;
    height: auto;
}
.strike{
    text-decoration: line-through;
}
.border-red {
    border-color: #f7666e !important;
}
